* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    text-decoration: none;
    color: #fff;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #1E1E1E;
  }
  
  .home, .cartaz, .em-breve, .top-10, .rodape {
    max-width: 1180px;
    margin: auto;
    padding: 64px 32px;
  }
  
  .cabecalho {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    gap: 24px;
    margin: auto;
    border-bottom: #444 solid 1px;
    background: #1E1E1E;
  
    position: sticky;
    top: 0;
    
  
    & .navbar {
      display: flex;
      gap: 8px;
  
      & a {
        padding: 8px;
        border-radius: 8px;
        transition: 300ms;
      }
  
      & a:hover {
        background: #e84e4e;
      }
    }
  }
  
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cartaz {
    & .titulo {
      margin-bottom: 48px;
  
      & h2 {
        margin-bottom: 8px;
      }
  
      & h3 {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
      }
    }
  
    & .cards {
      display: flex;
      justify-content: space-between;
      gap: 48px;
  
      & .card {
        width: 340px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        border-radius: 8px;
        border: #444 solid 1px;
  
        & .conteudo {
  
          & h2 {
            margin-bottom: 16px;
          }
  
          & p {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }
  
  .em-breve {
    & .titulo {
      margin-bottom: 48px;
  
      & h2 {
        margin-bottom: 8px;
      }
  
      & h3 {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
      }
    }
  
    & .cards {
      display: flex;
      flex-direction: column;
      gap: 24px;
  
      & .card {
        border: #444 solid 1px;
        border-radius: 8px;
        display: flex;
        padding: 24px;
        gap: 24px;
        
        
  
        & .conteudo {
          max-width: 864px;
          
          & .sinopse {
            margin-bottom:16px;
  
            & h2 {
              margin-bottom: 8px;
            }
  
            & p {
              color: rgb(255, 255, 255, 0.7);
            }
          }
  
          & button {
            padding: 12px;
            background-color: #303030;
            border: 1px solid #949494;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .top-10 {
    & .titulo {
      margin-bottom: 48px;
  
      & h2 {
        margin-bottom: 8px;
      }
  
      & h3 {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
      }
    }
  
    & .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 52px;
      
  
      & .card {
        width: 240px;
        padding: 16px;
        border: #444 1px solid;
        border-radius: 8px;
  
        & img {
          margin-bottom: 16px;
        }
  
        & .conteudo {
          display: flex;
          flex-direction: column;
          gap: 8px;
  
          & h2 {
            font-size: 16px;
            font-weight: 400;
          }
  
          & p:nth-child(2) {
            font-weight: 700;
          }
  
          & p:nth-child(3) {
            color: rgba(255, 255, 255, 0.7);
          }
  
        }
      }
    }
  }
  